@mixin gradient-on-heading($direction) {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    $direction,
    $color-primary,
    $color-gradient
  );
}

@mixin grid-on-section-proto($min-value) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min-value, 1fr));
  grid-column: 1/-1;
}

@mixin grid-on-section($min-value) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min-value, 1fr));
  grid-column: 1/-1;
}

@mixin grid-on-main($column, $gutter, $margin) {
  display: grid;
  grid-template-columns: repeat($column, 1fr);
  gap: 0 $gutter;
  margin: 0 $margin;
}

@mixin style-all-flex($align-items, $justify-cont, $flex-direct: row) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-cont;
  flex-direction: $flex-direct;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $bkp-sm) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media (min-width: $bkp-md) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media (min-width: $bkp-lg) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media (min-width: $bkp-xl) {
      @content;
    }
  }
  @if $breakpoint == xxl {
    @media (min-width: $bkp-xxl) {
      @content;
    }
  }
}

@mixin bgimage {
  background-image: radial-gradient(
      circle at 13% 47%,
      rgba(140, 140, 140, 0.03) 0%,
      rgba(140, 140, 140, 0.03) 25%,
      transparent 25%,
      transparent 100%
    ),
    radial-gradient(
      circle at 28% 63%,
      rgba(143, 143, 143, 0.03) 0%,
      rgba(143, 143, 143, 0.03) 16%,
      transparent 16%,
      transparent 100%
    ),
    radial-gradient(
      circle at 81% 56%,
      rgba(65, 65, 65, 0.03) 0%,
      rgba(65, 65, 65, 0.03) 12%,
      transparent 12%,
      transparent 100%
    ),
    radial-gradient(
      circle at 26% 48%,
      rgba(60, 60, 60, 0.03) 0%,
      rgba(60, 60, 60, 0.03) 6%,
      transparent 6%,
      transparent 100%
    ),
    radial-gradient(
      circle at 97% 17%,
      rgba(150, 150, 150, 0.03) 0%,
      rgba(150, 150, 150, 0.03) 56%,
      transparent 56%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(25, 25, 25, 0.03) 0%,
      rgba(25, 25, 25, 0.03) 36%,
      transparent 36%,
      transparent 100%
    ),
    radial-gradient(
      circle at 55% 52%,
      rgba(69, 69, 69, 0.03) 0%,
      rgba(69, 69, 69, 0.03) 6%,
      transparent 6%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
