:root {
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  --gainsboro: #dcdcdd;

  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $neutra-sans;
  line-height: 1.2;
}

main > section {
  grid-column: 1/-1;
  gap: 20px 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
  font-family: $josefin-sans;
}

a,
a:hover,
a:focus {
  cursor: pointer;
  color: $color-black;
  text-decoration: none;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

button {
  cursor: pointer;
}
