@font-face {
  font-family: "Neutra Text";
  font-weight: 700;
  font-style: normal;
  src: url(~@/assets/fonts/NeutraText-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Neutra Text";
  font-weight: 700;
  font-style: italic;
  src: url(~@/assets/fonts/NeutraText-BoldItalic.otf) format("opentype");
}

@font-face {
  font-family: "Neutra Text";
  font-weight: 500;
  font-style: normal;
  src: url(~@/assets/fonts/NeutraText-Book.otf) format("opentype");
}

@font-face {
  font-family: "Neutra Text";
  font-weight: 500;
  font-style: italic;
  src: url(~@/assets/fonts/NeutraText-BookItalic.otf) format("opentype");
}
