html {
  --persian-green: #00a69a;
  --gainsboro: #dcdcdd;
  --silver: #c5c3c6;
  --davys-grey: #46494c;
  --black-coral: #4c5c68;

  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Neutra Text', sans-serif;
  line-height: 1.2;
}

main {
  width: 91%;
  margin: 0 auto;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
