@mixin style-intro($font-size, $animation-delay, $padding: 0) {
  font-size: $font-size;
  animation-delay: $animation-delay;
  padding-left: $padding;
}

@mixin style-gradient-heading($direction) {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    $direction,
    $color-primary,
    $color-gradient
  );
}

@mixin style-all-grid($grid-columns, $grid-gap: 15px) {
  display: grid;
  grid-template-columns: $grid-columns;
  gap: $grid-gap 0;
}

@mixin style-all-heading {
  grid-column: 1/2;
  color: $color-primary;
  font-size: 3.4rem;
  text-align: center;
  transform: translateY(20px);
  opacity: 0;
}

@mixin style-all-flex($align-items, $justify-cont, $flex-direct: row) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-cont;
  flex-direction: $flex-direct;
}
