.primary-heading {
  &-main {
    display: inherit;
    line-height: 1;
    opacity: 0;
    font-size: clamp(4.997rem, calc(3.58rem + 3.64vw), 8.7rem);
    animation: fadeInUp 0.5s ease-out 0.8s forwards;
    @include gradient-on-heading(to right);
  }
  &-sub {
    display: inherit;
    opacity: 0;
    padding-left: 2px;
    font-size: clamp(3.294rem, calc(2.672rem + 1.66vw), 4.939rem);
    animation: fadeInUp 0.5s ease-out 0.9s forwards;
    @include gradient-on-heading(to left);
  }
}

.secondary-heading {
  opacity: 0;
  text-align: center;
  font-size: clamp(5.44rem, calc(3.696rem + 5.46vw), 9.92rem);
  @include gradient-on-heading(to left);
}

.tertiary-heading {
  color: $color-white;
  font-family: $josefin-sans;

  & > * {
    display: inherit;
  }

  &-main {
    font-size: clamp(2rem, calc(1.904rem + 0.3vw), 2.2rem);
    font-weight: bold;
  }
  &-sub {
    font-size: clamp(1.5rem, calc(1.36rem + 0.45vw), 1.8rem);
    font-weight: 300;
  }
}

//NOTE: font-size only same props with resume
// TODO: tertiary-heading will be for resume.vue
// .tertiary-heading {
//   color: $color-secondary;
//   text-align: center;
//   font-size: clamp(2rem, calc(0.36rem + 4.44vw), 2.24rem);
// }
