.border-solid {
  border: 1px solid black;
}

.content-wrapper {
  padding: 5rem clamp(0.96rem, calc(-2.192rem + 9.87vw), 12rem);
}

.grid-container {
  display: grid;
  gap: 20px 0;
  @include responsive(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.primary-bg {
  @include bgimage;
  position: fixed;
  z-index: -10;
  inset: 0;
}
