.border-solid {
  border: 1px solid black;
}

.container {
  display: grid;
  grid-template-columns: repeat($col-sm, 1fr);
  gap: 0 $gutter-sm;
  margin: 0 $margin-sm;
  @include responsive(md) {
    @include grid-col-gutter-margin($col-md, $gutter-md, $margin-md);
  }

  @include responsive(lg) {
    @include grid-col-gutter-margin($col-lg, $gutter-md, $margin-md);
  }

  @include responsive(xl) {
    @include grid-col-gutter-margin($col-lg, $gutter-md, $margin-lg);
  }
}

.content-wrapper {
  padding: 4rem 0;
}

// NOTE: current using this class INTRO & ABOUT
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px 0;
}
