//FONTS
$neutra-sans: 'Neutra Text', sans-serif;
$josefin-sans: 'Josefin Sans', sans-serif;
$poppins-sans: 'Poppins', sans-serif;

// COLORS
$color-primary: #00a69a;
$color-secondary: #46494c;
$color-tertiary: #4ecaf3;
$color-quartet: #4c5c68;
$color-gradient: #4deee3;
$color-silver: #c5c3c6;
$color-black: #000;
$color-white: #fff;

// CLASS
$about-component-class-list: (about-heading, about-article, img-container);
$project-component-class-list: (project-heading, project-list);

// EASINGS
$easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
$easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);

// BREAKPOINTS
$bkp-sm: 36em; /*576*/
$bkp-md: 48em; /*768*/
$bkp-lg: 62em; /*992*/
$bkp-xl: 75em; /*1200*/
$bkp-xxl: 90em; /*1440*/

// Column
$col-sm: 4;
$col-md: 8;
$col-lg: 12;

// Gutter
$gutter-sm: 8px;
$gutter-md: 32px;

// Margin
$margin-sm: 16px;
$margin-md: 32px;
$margin-lg: 100px;
