$color-primary: #00a69a;
$color-secondary: #46494c;
$color-gradient: #4deee3;
$color-black: #000;
$color-white: #fff;

$class-about-active: (about-heading, about-main);
$class-project-active: (project-heading, project-list);
